

body {
    background-color: rgb(181, 133, 185);
}

.display-container {
    display: flex;
    flex-direction: column;
    width: "50px";
}

.player-wrapper {
    position: relative;
    margin-left: 8%;
    margin-right: 5px;
    margin-top: -50px;
    margin-bottom: 20px;
    padding-top: 20%; /* Player ratio: 100 / (1280 / 720) */
    border-radius: 25px;
}

.login {
    justify-content: center;
    text-align: center;
}

.signup {
    justify-content: center;
    text-align: center;
}
Form.ui.form input[type="text"] {
    width: 300px;
}

Form.ui.form input[type="file"] {
    width: 300px;
}

Form.ui.form input[type="date"] {
    width: 300px;
}

Form.ui.form input[type="password"] {
    width: 300px;
}

.react-player {
    border-radius: 25px;
}

.ui-content {
    background-color: blue;
}

.ui-card {
    margin-top: 50px;
}

/* .header {
    padding: 0%;
} */
/* .react-player {
    position: absolute;
    top: 30;
    left: 0;
  } */