body {
    background-color: rgb(181, 133, 185);
    margin: auto;
}

h1, h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.display-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.player-wrapper {
    position: relative;
    margin-left: 8%;
    margin-right: 5px;
    margin-top: -50px;
    margin-bottom: 20px;
    padding-top: 20%; /* Player ratio: 100 / (1280 / 720) */
    
}

.fav-video {
    position: relative;
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.login {
    justify-content: center;
    text-align: center;
}

.signup {
    justify-content: center;
    text-align: center;
}

Form.ui.form {
    padding: 10px;
}
Form.ui.form input[type="text"] {
    width: 300px;
}

Form.ui.form input[type="file"] {
    width: 300px;
}

Form.ui.form input[type="date"] {
    width: 300px;
}

Form.ui.form input[type="password"] {
    width: 300px;
}


.rating {
    padding-bottom: 10px;
}

/* .ui-content {
    background-color: ;
} */

.ui-card {
    margin-top: 50px;
}

.ui.search {
    padding-right: 10px;
}

.filter-tutorial {
    margin-right: 100px;
}

.content favorite {
    margin-top: 50px;
}

.filter {
    display: flex;
    justify-content: flex-start;
    align-content: space-around;
    padding-bottom: 20px;
}

.userVid {
    margin-left: -4px;
}

.user-video {
    padding-top: 10px;
    padding-bottom: 10px;
}
.header a {
    color: black;
    padding: 10px;
}

.user-header {
    padding-top: 10px;
}

.comment {
    padding-bottom: 10px;
}




/* .header {
    padding: 0%;
} */
/* .react-player {
    position: absolute;
    top: 30;
    left: 0;
  } */