body {
    background-color: rgb(101, 143, 105);
}

.display-container {
    display: flex;
    flex-direction: column;
    width: "50px";
}

.player-wrapper {
    position: relative;
    padding-top: 20% /* Player ratio: 100 / (1280 / 720) */
}

/* .react-player {
    position: absolute;
    top: 30;
    left: 0;
  } */